
@{
    Layout = "~/Views/Shared/_Layout_Home.cshtml";
    List<int> moduleIds = ViewBag.ModuleIds;}




<style>

    #homdiv {
        position: relative;
        width: 15%;
        padding-right: 5px;
        padding-left: 5px;
    }

    .module_disabled {
        opacity: 8%;
        pointer-events: none;
        /*border: 25px solid red;*/
    }

    .home_image {
        height: 150px;
        width: 160px;
        border-radius: 30px;
    }
</style>






@*<script>
        $(document).ready(function () {
            // Attach a click event handler to all elements with the class "image-link"
            $('.image-link').click(function (e) {
                // Prevent the default action of the anchor tag
                e.preventDefault();

                // Get the id attribute of the parent div (module-item)
                var divId = $(this).closest('.module-item').attr('id');

                // Get the base URL for the Customer_index action
                var baseUrl = '@Url.Action("Customer_index", "Customer_Registration")';

                // Construct the URL with the id parameter
                var url = baseUrl + '?divId=' + divId;

                // Redirect to the generated URL
                window.location.href = url;
            });
        });
    </script>*@


 <div class="app-main__inner" style="margin-top:65px; padding-left:35px;">

    <marquee behavior="scroll" direction="left" style="color:maroon; width:100%"><h4>Here is some important message scrolling ... right to left!</h4></marquee>

    <div class="row">
        <div class="col-md-2">
            <div class="col-md-4_homimgdiv" id="homdiv">
                <div id="222">

                    @*<img src="../images/HOME_ICONS/equifax.png" class="home_image">*@
                    <a href="http://erp.yogloans.com:8279/Login.aspx" target="_blank" data-action="" data-module-id="222">
                        <img src="../images/HOME_ICONS/current_erp.png" class="home_image">

                    </a>
                </div>
            </div>


        </div>

        <div class="col-md-2">
            <div class="col-md-4_homimgdiv" id="homdiv">
                <div id="25" class="module_disabled">
                    <a href="#" class="image-link" data-action="@Url.Action("Yog_customer_Index", "Yog")" data-module-id="25">
                        <img src="../images/HOME_ICONS/customer.png" class="home_image">
                    </a>
                </div>
            </div>
        </div>



        <div class="col-md-2">
            <div class="col-md-4_homimgdiv" id="homdiv">
                <div id="28" class="module_disabled">
                    <a href="#" class="image-link" data-action="@Url.Action("Yog_customer_Index", "Yog")" data-module-id="28">
                        <img src="../images/HOME_ICONS/personal_loan.png" class="home_image">
                    </a>
                </div>
            </div>
        </div>

        @*////////////////////////////////////// gold loan commented///////////////////////////////////////////////////*@
        <!--<div class="col-md-2">
    <div class="col-md-4_homimgdiv" id="homdiv">
        <div id="21" class="module_disabled">
            <a href="#" class="image-link"-->
        @*data-action="@Url.Action("Yog_Index", "Yog")"*@
        <!--data-module-id="21">
                    <img src="../images/HOME_ICONS/goldloan.png" class="home_image">
                </a>
            </div>
        </div>
    </div>-->

        @* //////////////////////////////////////////////////////////////////////////////////////////*@

        @*<div class="col-md-2">
            <div class="col-md-4_homimgdiv" id="homdiv">
                <div id="10" class="module_disabled">
                    <a href="#" class="image-link" data-action="@Url.Action("Yog_customer_Index", "Yog")" data-module-id="10">
                        <img src="../images/HOME_ICONS/vehicleloan.png" class="home_image">



                    </a>
                </div>
            </div>
        </div>*@

@*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*@

        <div class="col-md-2">
            <div class="col-md-4_homimgdiv" id="homdiv">
                <div id="2" class="module_disabled">
                    @*<img src="../images/HOME_ICONS/18.png" class="home_image">*@
                    <a href="#" class="image-link" data-action="@Url.Action("Yog_equifax_Index", "Yog")" data-module-id="2">
                        @*<img src="../images/HOME_ICONS/18.png" class="home_image">*@
                        <img src="../images/HOME_ICONS/equifax_new.png" class="home_image">
                    </a>
                </div>
            </div>

        </div>






        <div class="col-md-2">
            <div class="col-md-4_homimgdiv" id="homdiv">
                <div id="11" class="module_disabled">
                    @*<img src="../images/HOME_ICONS/businessloan.png" class="home_image">*@
                    <a href="#" class="image-link" data-action="@Url.Action("Yog_business_Index", "Yog")" data-module-id="11">
                        <img src="../images/HOME_ICONS/businessloan.png" class="home_image">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="col-md-4_homimgdiv" id="homdiv">
                <div id="12" class="module_disabled">
                    @*<img src="../images/HOME_ICONS/termloan.png" class="home_image">*@
                    <a href="#" class="image-link" @*data-action="@Url.Action("Yog_Index", "Yog")"*@ data-module-id="12">
                        <img src="../images/HOME_ICONS/termloan.png" class="home_image">
                    </a>
                </div>
            </div>
        </div>



    </div>
    <br />
    <br />

    @*second row icons*@


    <div class="row">
        <div class="col-md-2">
            <div class="col-md-4_homimgdiv" id="homdiv">
                <div id="20" class="module_disabled">
                    @*<img src="../images/HOME_ICONS/microlan.png" class="home_image">*@
                    <a href="#" class="image-link" @*data-action="@Url.Action("Yog_Index", "Yog")"*@ data-module-id="20">
                        <img src="../images/HOME_ICONS/microlan.png" class="home_image">
                    </a>
                </div>
            </div>
        </div>


        <div class="col-md-2">
            <div class="col-md-4_homimgdiv" id="homdiv">
                <div id="26" class="module_disabled">
                    @*<img src="../images/HOME_ICONS/cdloan.png" class="home_image">*@
                    <a href="#" class="image-link" @*data-action="@Url.Action("Yog_Index", "Yog")"*@ data-module-id="26">
                        <img src="../images/HOME_ICONS/cdloan.png" class="home_image">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="col-md-4_homimgdiv" id="homdiv">
                <div id="16" class="module_disabled">
                    @*<img src="../images/HOME_ICONS/bond.png" class="home_image">*@
                    <a href="#" class="image-link" data-action="@Url.Action("Yog_bond_Index", "Yog")" data-module-id="16">
                        <img src="../images/HOME_ICONS/bond.png" class="home_image">
                    </a>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="col-md-4_homimgdiv" id="homdiv">
                <div id="4" class="module_disabled">
                    @*<img src="../images/HOME_ICONS/accounts.png" class="home_image">*@
                    <a href="#" class="image-link" @*data-action="@Url.Action("Yog_Index", "Yog")"*@ data-module-id="4">
                        <img src="../images/HOME_ICONS/accounts.png" class="home_image">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="col-md-4_homimgdiv" id="homdiv">
                <div id="17" class="module_disabled">
                    @*<img src="../images/HOME_ICONS/hr.png" class="home_image">*@
                    <a href="#" class="image-link" @*data-action="@Url.Action("Yog_Index", "Yog")"*@ data-module-id="17">
                        <img src="../images/HOME_ICONS/hr.png" class="home_image">
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="col-md-4_homimgdiv" id="homdiv">
                <div id="22" class="module_disabled">
                    @*<img src="../images/HOME_ICONS/goldoverdraft.png" class="home_image">*@
                    <a href="#" class="image-link" @*data-action="@Url.Action("Yog_Index", "Yog")"*@ data-module-id="22">
                        <img src="../images/HOME_ICONS/goldoverdraft.png" class="home_image">
                    </a>
                </div>
            </div>
        </div>

    </div>
    <br />
    <br />

    @*third row icons*@


 <div class="row">
     <div class="col-md-2">
         <div class="col-md-4_homimgdiv" id="homdiv">
             <div id="15" class="module_disabled">
                 <a href="#" class="image-link" data-action="@Url.Action("Yog_ncd_Index", "Yog")" data-module-id="15">
                     <img src="../images/HOME_ICONS/ncd.png" class="home_image">
                 </a>
             </div>
         </div>
     </div>


     <div class="col-md-2">
         <div class="col-md-4_homimgdiv" id="homdiv">
             <div id="99" class="module_disabled">
                 <a href="#" class="image-link" data-action="@Url.Action("Yog_miscellaneous_Index", "Yog")" data-module-id="99">
                     <img src="../images/HOME_ICONS/miscellaneous.png" class="home_image">
                 </a>
             </div>
         </div>
     </div>
     <div class="col-md-2">
         <div class="col-md-4_homimgdiv" id="homdiv">
             <div id="14" class="module_disabled">
                 @*<img src="../images/HOME_ICONS/audit.png" class="home_image">*@
                 <a href="#" class="image-link" @*data-action="@Url.Action("Yog_Index", "Yog")"*@ data-module-id="14">
                     <img src="../images/HOME_ICONS/audit.png" class="home_image">
                 </a>
             </div>
         </div>
     </div>

     <div class="col-md-2">
         <div class="col-md-4_homimgdiv" id="homdiv">
             <div id="3" class="module_disabled">
                 @*<img src="../images/HOME_ICONS/emicalculator.png" class="home_image">*@
                 <a href="#" class="image-link" @*data-action="@Url.Action("Yog_Index", "Yog")"*@ data-module-id="3">
                     <img src="../images/HOME_ICONS/emicalculator.png" class="home_image">
                 </a>
             </div>
         </div>
     </div>
     <div class="col-md-2">
         <div class="col-md-4_homimgdiv" id="homdiv">
             <div id="13" class="module_disabled">
                 @*<img src="../images/HOME_ICONS/suit.png" class="home_image">*@
                 <a href="#" class="image-link" @*data-action="@Url.Action("Yog_Index", "Yog")"*@ data-module-id="13">
                     <img src="../images/HOME_ICONS/suit.png" class="home_image">
                 </a>
             </div>
         </div>
     </div>
     <!--<div class="col-md-2">
        <div class="col-md-4_homimgdiv" id="homdiv">
            <div id="2" class="module_disabled">-->
     @*<img src="../images/HOME_ICONS/18.png" class="home_image">*@
     <!--<a href="#" class="image-link"--> @*data-action="@Url.Action("Yog_Index", "Yog")"*@ <!--data-module-id="2">-->
     @*<img src="../images/HOME_ICONS/18.png" class="home_image">*@
     <!--<img src="../images/HOME_ICONS/equifax.png" class="home_image">
                </a>
            </div>
        </div>

    </div>-->
     <div class="col-md-2">
         <div class="col-md-4_homimgdiv" id="homdiv">
             <div id="10" class="module_disabled">
                 <a href="#" class="image-link" data-action="@Url.Action("Yog_vehicle_Index", "Yog")" data-module-id="10">
                     <img src="../images/HOME_ICONS/vehicleloan.png" class="home_image">



                 </a>
             </div>
         </div>
     </div>



 </div>
    <br />
    <br />

    @*fourth row icons*@


    @*<div class="row">
            <div class="col-md-2">
                <div class="col-md-4_homimgdiv" id="homdiv">

                    <img src="../images/HOME_ICONS/19.png" class="home_image">
                </div>

            </div>


            <div class="col-md-2">
                <div class="col-md-4_homimgdiv" id="homdiv">

                    <img src="../images/HOME_ICONS/20.png" class="home_image">
                </div>

            </div>
            <div class="col-md-2">
                <div class="col-md-4_homimgdiv" id="homdiv">

                    <img src="../images/HOME_ICONS/21.png" class="home_image">
                </div>

            </div>

            <div class="col-md-2">
                <div class="col-md-4_homimgdiv" id="homdiv">

                    <img src="../images/HOME_ICONS/22.png" class="home_image">
                </div>

            </div>
            <div class="col-md-2">
                <div class="col-md-4_homimgdiv" id="homdiv">

                    <img src="../images/HOME_ICONS/23.png" class="home_image">
                </div>

            </div>
            <div class="col-md-2">
                <div class="col-md-4_homimgdiv" id="homdiv">

                    <img src="../images/HOME_ICONS/24.png" class="home_image">
                </div>

            </div>


        </div>*@


    <br />


    <div class="container">
        <ul class="tabs-animated-shadow tabs-animated nav nav-justified tabs-rounded-lg" @*style="background-color: #eee"*@>
            <li class="nav-item">
                <a role="tab" class="nav-link active show" href="javascript:void(0);" aria-selected="true">
                    <span>CIRCULARS / OFFICE NOTES</span>
                </a>
            </li> &nbsp;&nbsp;  &nbsp;&nbsp;
            <li class="nav-item">
                <a role="tab" class="nav-link active show" href="javascript:void(0);" aria-selected="true">
                    <span>DEPARTMENT CONTACT NUMBERS</span>
                </a>
            </li>

            &nbsp;&nbsp;  &nbsp;&nbsp;
            <li class="nav-item">
                <a role="tab" class="nav-link active show" href="javascript:void(0);" aria-selected="true">
                    <span>DEPARTMENT </span>
                </a>
            </li>
        </ul>
    </div>
    @*</form>*@
    @*<div class="row">
            <div class="col-md-4">
                <div class="card-shadow-primary border mb-3 card card-body border-primary" style="">
                    <h5 class="card-title">Circulars/Office Notes</h5>
                    With supporting text below as a natural lead-in to additional content.
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-shadow-primary border mb-3 card card-body border-primary">
                    <h5 class="card-title">Circulars/Office Notes</h5>
                    With supporting text below as a natural lead-in to additional content.
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-shadow-primary border mb-3 card card-body border-primary">
                    <h5 class="card-title">Circulars/Office Notes</h5>
                    With supporting text below as a natural lead-in to additional content.
                </div>
            </div>
        </div>*@
</div>
        @*</div>
    </div>
</div>*@

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        // Concatenate all module IDs and remove the "module_disabled" class
        var moduleIds = [@string.Join(",", moduleIds)];
        //alert(moduleIds);
        // Iterate through module IDs and remove the class
        moduleIds.forEach(function (moduleId) {
            $("#" + moduleId).removeClass("module_disabled");
        });
    });
</script>





<script>
    $(document).ready(function () {
        $('.image-link').click(function (e) {
            //alert("image clicked");

            localStorage.removeItem('selectedMenuId');
            localStorage.removeItem('selectedSubmenuId');
            e.preventDefault();
            var moduleId = $(this).data('module-id');
            var actionUrl = $(this).data('action'); // Get the action URL from data-action attribute


            // Make AJAX call to get submenu data
            $.ajax({
                url: '@Url.Action("GetSubMenu", "Home")',
                type: 'POST',
                data: { moduleId: moduleId },
                success: function (response) {
                    // Update the navigation bar with the partial view content
                    $('#navigationBar').html(response);

                    // Redirect to the selected page
                    window.location.href = actionUrl;
                },
                error: function (error) {
                    console.log('AJAX error:', error);
                }
            });
        });
    });
</script>







@*<script>
    $(document).ready(function () {
        // Attach a click event handler to all elements with the class "image-link"
        $('.image-link').click(function (e) {
            // Prevent the default action of the anchor tag
           // e.preventDefault();

            // Get the data attributes using jQuery data() method
            var action = $(this).data('action');
            var moduleId = $(this).data('module-id');
            // alert(moduleId);
            // Send an AJAX request

            $.ajax({
                url: action,
                type: 'POST', // or 'GET' depending on your server-side handling
                data: { moduleId: moduleId },
                success: function (response) {
                    // Handle the response if needed
                    console.log(response);
                    // Redirect manually if necessary
                    window.location.href = action;
                },
                error: function (error) {
                    // Handle errors if any
                    console.log(error);
                }
            });
        });
    });
</script>*@



